@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Quicksand:wght@400;700&display=swap");

*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  
}
html{
  overflow-x:hidden;
}
.logo:hover,
.logo:focus {
  cursor: pointer;
}

header-bar > nav {
  --primary-color: #3d5a80;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  font-size: 18px;
  background-color: var(--primary-color);
}

header-bar nav ul {
  display: flex;
  width: 60%;
  justify-content: space-evenly;
}

header-bar nav ul li {
  list-style: none;
}
header-bar nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a::after {
  content: "";
  height: 2px;
  margin-top: 2px;
  width: 0;
  display: block;
  background-color: #ffffff;
  transition: 0.3s;
}
nav ul li a:hover::after {
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.right-image {
  flex-basis: 50%;
}
.overview {
  flex-basis: 1;
  max-width: 38%;
  margin: 3rem auto;
}

.overview h1 {
  text-align: left;
  font-size: 1.9rem;
  margin-bottom: 20px;
}
.overview p {
  font-size: 1rem;
  line-height: 1.5rem;
}
.overview,
.right-image {
  padding: 20px;
}
img {
  max-width: 100%;
}
.button {
  margin-top: 3rem;
  display: inline-block;
  border: 1px solid #1e2233;
  padding: 8px 15%;
  text-align: center;
  border-radius: 5px;
  background-color: #1e2233;
  color: white;
  transition: 0.2s;
}

.button:hover,
.button:focus {
  cursor: pointer;
  background-color: #384760;
}

#our-team h1 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 40px;
  color: black;
}
#our-team h1::after {
  content: "";
  display: block;
  height: 2px;
  width: 5%;
  background-color: #9bc1d9;
  margin: 2px auto;
}
#our-team .card .image {
  height: 150px;
  width: 150px;
}

#our-team .card .image img {
  height: 100%;
  /*width: 100%;*/
  border-radius: 50%;
  padding: 1.5px;
  background-color: #1e2233;
}

.team {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}
.card {
  border-radius: 20px;
  background: #fff;
  position: relative;
  margin-top: 20px;
  width: 280px;
  box-shadow: 3px 2px 0 rgba(50, 50, 50, 0.2);
}

.card::before {
  content: "";
  position: absolute;
  background: #3d5a80;
  width: 100%;
  min-height: 50%;
  border-radius: 20px 20px 0 0;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: 30px;
  text-align: center;
}
.card-content p:nth-child(1) {
  font-size: 20px;
  font-weight: 500;
}

.card-content p:nth-child(2) {
  font-size: 15px;
}

.bio-button {
  padding: 3px 14px;
  margin-top: 20px;
  border-radius: 15px;
  background: #3d5a80;
  color: white;
  transition: 0.3s;
}
.bio-button:hover,
.bio-button:focus {
  cursor: pointer;
  background-color: #6a34b1;
}

footer-bar {
  margin-top: 100px;
  min-height: 15vh;
  background-color: #3d5a80;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

faq-section > .wrapper, 
faq-details-section > .wrapper {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position:relative;
}


.faq h1 {
  text-align: center;
  margin-bottom: 70px;
  font-size: 2.1rem;
}

.accordion {
  position: relative;
  box-shadow: 12px 12px 10px 0 rgba(83, 83, 83, 0.3);
  width: 1080px;
  height: 100px;
  margin-bottom: 50px;
  overflow: hidden;
}
.accordion:hover {
  cursor: pointer;
}

.wrapper .accordion {
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 30px 50px;
  border-radius: 18px;
  transition: 0.3s;
}
.wrapper .accordion p {
  max-width: 88%;
  color: #5b5b5b;
}
.wrapper .accordion h2 {
  font-size: 1.5rem;
  margin-bottom: 30px;
  font-weight: 500;
}
.accordion > svg {
  max-width: 40px;
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
}

.active {
  height: 250px;
}

.more-questions {
  background-color: #3d5a80;
  display: block;
  width: 200px;
  margin: 0 auto;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 20px 20px;
  border-radius: 10px;
  transition: 0.3s;
}
.more-questions:hover {
  background-color: #384760;
}

.social-media {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10px;
  right: 10px;
}
.social-media svg {
  max-width: 24px;
}

.faqs h1:nth-child(1) {
  font-weight: 300;
  text-align: center;
  font-size: 2rem;
  margin-top: 80px;
}
.faqs h1:nth-child(2) {
  font-weight: 500;
  font-size: 2.5rem;
  text-align: center;
}
.faqs h1:nth-child(2) + p {
  font-size: 1.2rem;
  text-align: center;
  color: #929292;
  margin-top: 8px;
}
.faqs header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faqs .search {
  margin-top: 30px;
  padding: 5px 10px;
  position: relative;
}
.faqs .search input {
  padding: 10px 50px;
  border-radius: 10px;
  width: 400px;
  border: 1px solid #777777;
}

.faqs .search svg {
  position: absolute;
  height: 25px;
  left: 20px;
  top: 14px;
}

.faqs .wrapper {
  margin-top: 70px;
}

.upload-container {
  min-height: 65vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/pineapple2.jpg");
  background-size: 100% 100%;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.upload-wrapper {
  width: 60%;
  min-height: 350px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.upload-wrapper svg {
  max-width: 60px;
  margin: 0;
}
.upload-wrapper p {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 20px;
}
.upload-wrapper form {
  cursor: pointer;
  position: relative;
}

.camera {
  background-color: #3d5a80;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 20px 20px;
  cursor: pointer;
}
.camera svg {
  max-width: 35px;
}

.button-start {
  background-color: #3d5a80;
  padding: 10px 40px;
  border-radius: 12px;
  cursor: pointer;
}

.upload-container h1 {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  width: 40%;
}

.upload-container {
  margin-bottom: 50px;
}

.content-details {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  margin: 60px;
}

.content-details .how-to {
  background-color: white;
  flex-basis: 50%;
}
.content-details .how-to h1 {
  text-align: center;
  margin-bottom: 30px;
}

.content-details .right-image {
  flex-basis: 50%;
}

.row {
  margin: 10px;
}
.row .step {
  margin: 10px;
  overflow: auto;
}
.row img {
  float: left;
  height: 25px;
}

.on-predict .image-upload {
  display: block;
}
.on-predict svg,
.on-predict p {
  display: none;
}

.image-upload {
  width: 300px;
  height: 200px;
  display: none;
}
#image-input {
  position: relative;
  bottom: 15px;
}

.webcam-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  bottom:0;
  z-index: 3;
  display: none;
  background-color:rgba(0,0,0,0.5);
}

.webcam-wrapper #web-video{
  width:800px;
  height:800px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%)
}
.webcam-wrapper #web-canvas{
  width:300px;
  height:300px;
  display:none;

}
.webcam-wrapper > img{
  width:100%;
  height:300px;
  display:none;
}
.stream .web-video{
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction:column;
}
#capture-button{
  position:absolute;
  top:5vh;
  left:50%;
  transform:translateX(-50%);
  padding:8px 28px;
  background-color:#3d5a80;
  border-radius:10px;
  color:white;
  cursor:pointer;
}

.result-container h1{
  font-size:38px;
  text-align:center;
  font-weight:500;
  margin-bottom:5vh;
  margin-top:30px;
}
.result-wrapper{
  display:flex;
  justify-content: space-around;
  align-items:flex-start;
  position:relative;
}
.result-container .result-wrapper .left-image-prediction{
  flex-basis:40%;
  display:flex;
  justify-content: center;
  align-items:center;
}
.result-container .result-wrapper .left-image-prediction img{
  max-height:350px;
}

.result-container .result-wrapper .result-prediction{
  flex-basis:40%;
}
.result-card{
  padding:10px;
  border-radius:10px;
  border:1px solid #C2C2C2;
  box-shadow: 5px 5px 0 0 rgba(0,0,0,0.1);
  margin-bottom:25px;
  
}
#result-footer{
  position:absolute;
  bottom:0;
  left:0;
  right:0;
}
.menu{
  display:none;
}
.hamburger{
  display:block;
}

body{
  overflow-x:hidden;
}
@media screen and (max-width:576px){

  #upload h1{
    font-size:1.25rem;
    width:50vw;
  }
  header-bar h1{
    font-size:1.5rem;
  }
  header-bar h1::first-letter{
    color:yellow;
    font-size:1.8rem;
  }
  #upload{
    justify-content: space-around;
  }
  .upload-wrapper{
    min-height:250px;
  }
  .upload-wrapper svg{
    max-width:38px;
  }
  .upload-wrapper p{
    font-size:1.25rem;
  }
  .camera svg{
    max-width:35px;
  }

  .content-details .right-image{
    display:none;
  }
  .content-details .how-to h1{
    font-size:1.8rem;
  }
  .row .step{
    font-size:1rem;
  }
  .row{
    margin-bottom:20px;
  }
  header-bar nav{
    font-size:1rem;
  }

  header-bar nav{
    justify-content: space-around;
  }
  .menu{
    display:block;
    z-index:9999;
  }

  .menu span{
    display:block;
    width:20px;
    height:3px;
    background-color:white;
    margin:5px;
    transition:.3s;
  }
  .menu span:hover{
    cursor:pointer;
  }


  .hamburger span:nth-child(1){
    transform:rotate(45deg) translateX(2px);
    transform-origin:0 0;
  }
  .hamburger span:nth-child(2){
    background-color:blue;
    opacity:0;
  }
  .hamburger span:nth-child(3){
    transform:rotate(-45deg) translateX(2px) translateY(0px);
    transform-origin:0 100%;
  }
  
  header-bar nav .menu + ul{
    display:flex;
    flex-direction:column;
    position:absolute;
    color:black;
    top:0;
    right:1000px;
    height:100vh;
    background-color:#384760;
    transition:.3s;
    width:50%;
    align-items:center;
    overflow-x:hidden;
    z-index:1000;
  }
  header-bar nav .menu + ul.slide{
    right:0;
  }
}
